#PANDAS COOKBOOK part 1

##1. Reading

In [ ]:
# import pandas module and numpy
import pandas as pd 
import numpy as np

In [ ]:
# reading from files
path = "my.csv"
df1 = pd.read_csv(path)

#reading from excel
df2 = pd.read_excel('my.xlsx', 'sheet1', encoding='utf-8')

##2. Basic exploring

In [1]:
#head and tail
df.head(2)
df.tail(2)


#column names as list
df.columns.values.tolist()

# get one row or one cell by index
print df1.iloc[0]
print df1['column1'].iloc[0]

# explore frame
df1.describe()

# how many nulls in column
len(df1[pd.isnull(df1['tid'])])
len(df1[pd.notnull(df1['tid'])])


#Counting
df['col1'].value_counts()

#Bincount http://pandas.pydata.org/pandas-docs/stable/generated/pandas.cut.html
df['col1'].value_counts(bins=3)
pd.cut(df['col1'], bins=4)


#Counting unique values
len(df['col1'].unique())

NameError: name 'df1' is not defined

##3. Wrangling

In [ ]:
#faceting dataframe
tiniDf = df[['col1', 'col4', 'col10']]

#####[Concatenate df](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html)

In [1]:
newDf = pd.concat(df1, df2, axis=0, join='outer', join_axes=None, ignore_index=False, 
              keys=None, levels=None, names=None, verify_integrity=False, copy=True)

df1.concat(df2, axis=0)

NameError: name 'pandas' is not defined

In [ ]:
#merging dataframes db-style  | on = 'left', 'right', 'outer', 'inner'.
newDf = pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, 
              left_index=False, right_index=False, sort=True,
              suffixes=('_x', '_y'), copy=True)

df1.merge(df2, axis=0)

In [ ]:
#remove dublicates
df.drop_duplicates('col1')
df.drop_duplicates()  #search for all rows